<div class="container col-6">
  <h1>Register a new Dog</h1>
  <%= simple_form_for(@dog) do |f| %>
    <%= f.input :name %>
    <div class="form-group">
      <%= form.label :breed, "Search for Dog Breed:" %>
      <%= form.text_field :breed_search, placeholder: "Enter breed name", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= form.submit "Add Dog", class: "btn btn-primary" %>
    </div>
    <%= render 'form', dog: @dog %>
    <%= f.input :birthdate %>
    <%= f.input :sex %>
    <%= f.input :allergies %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <div class="form-actions">
      <%= f.button :submit, class:"btn btn-info my-3" %>
    </div>
  <% end %>
</div>
<%= render 'shared/bottom_nav' %>
